.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-container > div2 {
    background-color: aliceblue;
    opacity: .8;
    width: auto;
    max-width: 1000px;
    margin: 10px;
    text-align: center;
    /* line-height: 10px; */
    font-size: large;
    padding: 5px;
    border-radius: 25px;
  }
  .flex-container > div {
    width: 450px;
    margin: 10px;
    margin-left: 20px;
  }
  img{
    border-radius:50%;
  }