
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px;  
    border: 1px solid black; /* black border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Style inputs with type="email", select elements and textareas */
input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 5px;  
  border: 1px solid black; /* black border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 2px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  /* Style inputs with type="tel", select elements and textareas */
  input[type=tel], select, textarea {
    width: 100%; /* Full width */
    padding: 5px;  
    border: 1px solid black; /* black border */
    border-radius: 10px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: black;
    color: white;
    /* padding: 12px 20px; */
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, make it blue */
  input[type=submit]:hover {
    background-color: rgb(27, 86, 138);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 50%;
    border-radius: 5px;
    background-color: rgba(201, 163, 67, 0.768);
    opacity: 1;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
  }

/* Header/logo Title */
.header {
  background-color: rgb(27, 86, 138);
  opacity: .8;
  font-family: "Amatic SC", sans-serif;
  /* padding: 60px; */
  text-align: center;
  color: white;
  width: 100%;
  max-height: 1em;
  margin-bottom: 10px;
}
/* Main column */
.main {
  width: 45%;
  flex: 30%;
  margin-bottom: 100px;
  /* padding: 5px; */
  text-align: center;
  margin-bottom: 5px;
}

body {
   clear: both;
   height: 100%; 
   font-family: Arial;
   min-height: 100vh; 
   display: flex;
   flex-direction: column;
   }
.label{
  text-shadow: 1px 1px aliceblue;
}

  .btn{
    
    color: black;
  }
/* Footer */
.footer {
  text-align: center;
  background: aliceblue;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding-bottom: 5px;
  opacity: .9;
  font-family: Arial, Helvetica, sans-serif;
}
.fcon{
  display: inline-block;
  width: 30%;
  text-align: right;
}
.fbtn{
  text-align: left;
  display: inline-block;
  width: 20%;
}

  @media screen and (max-width: 700px) {
 
  /* Header/logo Title */
  .header {
    background-color: rgb(27, 86, 138);
    opacity: .8;
    font-family: "Amatic SC", sans-serif;
    /* padding: 60px; */
    text-align: center;
    color: white;
    width: 100%;
    max-width: 700px
  }    
    .container {
      width: 90%;
      border-radius: 5px;
      background-color: rgba(201, 163, 67, 0.767);
      /* opacity: .95; */
      padding: 10px;
      margin-left: 10px;
      margin-bottom: 100px;
    }
    /* Main column */
.main {
  width: 100%;
  flex: 30%;
  margin-bottom: 100px;
  /* padding: 5px; */
  text-align: center;
  margin-bottom: 5px;
}
/* Footer */
.footer {
  text-align: center;
  background: aliceblue;
  position: relative;
  font-family: Arial;
  width: 100%;
  height: 75px;
  opacity: .9;
}
.fcon{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.fbtn{
  text-align: center;
  display: inline-block;
  width: 100%;
}

  }
  