
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px; 
    border: 1px solid darkcyan; /* dark cyan border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, make it blue */
  input[type=submit]:hover {
    background-color: rgb(57, 57, 216);
  }
  
  /* Add a background color and some padding around the form */
  .container {
    width: 45%;
    border-radius: 5px;
    background-color: rgb(61, 151, 151);
    padding: 10px;
    margin-left: 10px;
  }