/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  body{
    background-image: url(../media/images/LakeMIShore1.jpeg);
    background-repeat:no-repeat;
    height: 100%;
    background-size:cover;
    background-position:center;
    size: 2000px;
  }
.HomeDescription{
  font-size: x-large;
}
h1{
  font-size:xx-large;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  body{
    background-image: url(../media/images/LakeMIShore1.jpeg);
    background-repeat:no-repeat;
    height: 100%;
    background-size:cover;
    background-position:center;
  }
  .HomeDescription{
    font-size: x-large;
  }
  h1{
    font-size: larger;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    background-image: url(../media/images/LakeMIShore1.jpeg);
    background-repeat:no-repeat;
    height: 100%;
    background-size:cover;
    background-position:center;
  }
  .HomeDescription{
    font-size: x-large;
  }
  h1{
    font-size: larger;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    background-image: url(../media/images/LakeMIShore1.jpeg);
    background-repeat:no-repeat;
    height: 100%;
    background-size:cover;
    background-position:center;
  }
  .HomeDescription{
    font-size: x-large;
  }
  h1{
    font-size: larger;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    background-image: url(../media/images/LakeMIShore1.jpeg);
    background-repeat:no-repeat;
    height: 100%;
    background-size:cover;
    background-position:center;
  }
  .HomeDescription{
    font-size: x-large;
  }
  h1{
    font-size: larger;
  }
}
  body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

    
  }
  html{
   height: 100%;
  }
  header{
    text-align: center;
    padding:3%;
  }
  .HomeDescription{
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
  }



 
