* {
  box-sizing: border-box;
}
.parallax {
  /* The image used */
  background-image: url(../media/images/LakeMIShore1.jpeg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: whitesmoke;
  position: relative;
  top: 0;
  width: 100%;
  z-index:1;
}

.container-bar{
  width: 100%;
  margin: 0%;
}

.container-bar h3 {
  /* position: relative; */
  float: left;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Amatic SC", sans-serif;
  font-size: xx-large;
  line-height: 25px;  
  margin: 0%;
}

.navbar a {
 float: right; 
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  /* border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb; */
}

.navbar a:hover {
  background-color: rgba(201, 163, 67, 0.767);
  color: white;
}

.navbar a.active {
  background-color: rgba(201, 163, 67, 0.767);
  color: white;
}

body{
  margin: 0;
}

.hidnav{
  display: none;
}


@media screen and (max-width: 775px) {
  .navbar{
    display: none;
  }   
  
  
  /* Style of hidden nav */
  .hidnav {
    display: block;
    overflow: hidden;
    background-color: white;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .hidnav #Links {
    display: none;
    width: 100%;
  }

  .above{
    margin-top: 49px;
  }

  /* Style navigation menu links */
  .hidnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

  }

  /* Style the hamburger menu */
  .hidnav a.icon {
    background: rgba(201, 163, 67, 0.767);
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */
  .hidnav #Links a:hover {
    background-color: rgba(201, 163, 67, 0.767);
    color: white;
  }
  .hidnav .active{
    position: relative;
    float: left;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
    font-family: "Amatic SC", sans-serif;
    font-size: xx-large;
    font-weight: bold;
    line-height: 25px;  
    margin: 0%;
  }
  .hidnav .current{
    background-color: rgba(201, 163, 67, 0.767);
    color: white;
  }
}
