* {
  box-sizing: border-box;
}
.parallax {
  /* The image used */
  background-image: url(../media/images/LakeMIShore1.jpeg);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: whitesmoke;
  position: relative;
  top: 0;
  width: 100%;
  z-index:1;
}

.navbar h3 {
  position: relative;
  float: left;
  color: black;
  padding-left: 10px;
  font-family: "Amatic SC", sans-serif;
  font-size: x-large;
  
}

.navbar a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  /* border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb; */
}

.navbar a:hover {
  background-color: rgba(201, 163, 67, 0.767);
  color: white;
}

.navbar a.active {
  background-color: rgba(201, 163, 67, 0.767);
  color: white;
}

body{
  margin: 0;
}

@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  } 
}
