* {
  box-sizing: border-box;
}

/* Style the body */
body {
 clear: both;
  background-image: url(../media/images/LakeMIShore1.jpeg);
  background-repeat:no-repeat;
   height: 100%; 
  background-size:cover;
  background-position:center;
  font-family: Arial;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
 
}
p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: aliceblue;
  opacity: .80;
  margin: auto;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

/* Header/logo Title */
.header {
  background-color: rgb(27, 86, 138);
  opacity: .8;
  font-family: "Amatic SC", sans-serif;
  padding: 60px;
  text-align: center;
  color: white;
  min-width: 100vh;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
 text-align: center;
  padding: 20px;
}

/* Main column */
.main {
  flex: 30%;
  
  padding: 20px;
}

.btn{
  color: black;
}
/* Footer */
.footer {
  text-align: center;
  background: aliceblue;
  padding: 1vh;
  width: 100%;
  bottom: 0;
  opacity: .9;
  margin-top: auto;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
